@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: 'Roboto Flex', sans-serif;
}
main {
  margin-bottom: 100px;
}
/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 25px;
  height: 25px;
  transition: all 0.25s;  
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  transform: rotate(0deg);
  transition: all 0.5s;
}
  
.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}
  
.open {   
  transform: rotate(90deg);
  transform: translateY(0px);
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .hamburger-middle {
  display: none;   
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
.footer-hr {
  border: #fff solid 0.5px;
  width: 100vw;
}
.slide {
  margin: 70px 0 5px 0;
}
.slide-icon{
  height: 2vh;
  width: 2vh;
  background-color: rgba(255, 255, 255, 0.63);
  border-radius: 50%;
  margin: 0 10px;
}
.current-slide-icon{
  background-color: #fff;
}